

body {
    margin:0px;
    padding:0;
    background-image: url("../images/nightsky.jpg");
    background-size: 100% auto;
    
}
#textbox {
    background-color:black;
    width:50%;
    height: 100%;
    margin: 0 auto;
    padding:3px;
    opacity: .8;
    border-radius: 10%;
    }
#topbar {
    height: 21.33%;
    width:41.66%;
    margin: 5px auto;
    padding:0;
    border:2px ridge black;
    border-radius: 60%;    
}
h1 {
    color:#BDE1DE;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:5vw;
    padding:0;
    margin: 0;
     
}
h2 {
    font-size:5vw;
    color:#A7C8BF;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding:0 0 20px 0;
    margin: 0;
}
#toptabs {
    width:100%;
    margin:25px auto;
    height:35px;
    text-align: center;
    
        
}
a:hover {
    color:rgb(81, 207, 245);
}
a {
    text-decoration: none;
    color:rgb(255, 149, 28);
    font-size:1.3vw;
    padding-right:10px;    
}
h3 {
    color:rgb(30, 224, 88);
    font-size:3vw;
    text-align: center;
    padding-top:2%;
    
}
#main-para {
    color:rgb(30, 224, 88);
    width:99%;
    margin:0 auto;
    padding: 5px 5px 20px 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    
}