

body {
    margin:0px;
    padding:0;
    background-image: url("../images/nightsky.jpg");
    background-size: 100% auto;
    
}
#textbox {
    background-color:black;
    width:50%;
    height: 100%;
    margin: 0 auto;
    padding:0;
    opacity: .8;
    border-radius: 10%;
    }
#topbar {
    height: 200px;
    width:41.66%;
    margin: 0 auto;
    padding:0;
    border:2px ridge black;
    border-width: 3%;
    border-radius: 60%;
    
    
}
h1 {
    color:#BDE1DE;
    font-size: 450%;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     
}
h2 {
    color:#A7C8BF;
    font-size: 450%;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#toptabs {
    width:100%;
    margin:20px auto;
    height:35px;
    text-align: center;
    
        
}
a:hover {
    color:rgb(81, 207, 245);
}
a {
    
    text-decoration: none;
    color:rgb(255, 149, 28);
    font-size:20px;
    padding-right:9px;
}
h3 {
    color:rgb(30, 224, 88);
    font-size:30px;
    text-align: center;
    padding-top:5px;
    
}
#main-para {
    color:rgb(30, 224, 88);
    width:99%;
    margin:0 auto;
    padding: 5px 5px 20px 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    
}